useDynLib(h2D2)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export(Createh2D2Object)
export(h2D2_MCMC)
export(h2D2_CS)
exportClasses(h2D2)
import(Matrix)
import(dplyr)
import(magrittr)
import(foreach)
import(RSpectra)
exportPattern("^[[:alpha:]]+")
