useDynLib(h2D2)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export(Createh2D2Object)
export(credible_sets)
export(h2D2_MCMC)
exportClasses(h2D2)
import(Matrix)
import(dplyr)
import(foreach)
exportPattern("^[[:alpha:]]+")
